{% extends "admin_base.html" %}
{% block active5 %}class="active"{% end %}
{% block maincontent %}
<h2 class="sub-header" id="nav-article">All Links</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Inform Id</th>
        <th>Title</th>
        <th>Create Time</th>
      </tr>
    </thead>
    <tbody>
      {% for inform in informs %}
      <tr>
        <td>{{ inform.iid }}</td>
        <td>{{ inform.ititle }}</td>
        <td>{{ inform.icettime }}</td>
      </tr>
      {% end %}
    </tbody>
  </table>
</div>
<hr>
<h2 class="sub-header">Add Slide</h2>
<form role="form" method="POST" action="/admin/slide" enctype="multipart/form-data">
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="input" class="form-control" id="exampleInputEmail1" placeholder="Enter title" name="ititle">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Abstract</label>
    <textarea rows="16" class="form-control" id="exampleInputPassword1" placeholder="Enter abstract" name="iabstract"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">URL</label>
    <input type="input" class="form-control" id="exampleInputEmail1" placeholder="Enter URL" name="iurl">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">ButtonView</label>
    <input type="input" class="form-control" id="exampleInputEmail1" placeholder="Enter ButtonView" name="ibtnview">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Picture</label>
    <input type="file" name="file" id="exampleInputFile">
    <p class="help-block">PS:16:5图片最佳</p>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% end %}
