{% extends "admin_base.html" %}
{% block customJSLink %}
<script>
$('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>
{% end %}
{% block active1 %}class="active"{% end %}
{% block graghic %}
<h1 class="page-header">Admin</h1>

<div class="row placeholders">
  {% for user in userlist %}
  {% if user.luid == 3 or user.luid == 2 %}
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="{{ user.uavatar }}" class="img-responsive" alt="Generic placeholder thumbnail" style="height:150px;width:150px;">
    <h4>{{ user.username }}</h4>
    <span class="text-muted">{{ user.ucollege }}</span>
  </div>
  {% end %}
  {% end %}
</div>
{% end %}
{% block maincontent %}
<ul id="myTab" class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#user" id="user-tab" role="tab" data-toggle="tab" aria-controls="user" aria-expanded="true">Users</a></li>
      <li role="presentation" class=""><a href="#article" role="tab" id="article-tab" data-toggle="tab" aria-controls="article" aria-expanded="false">Articles</a></li>
      <li role="presentation" class=""><a href="#page" id="page-tab" role="tab" data-toggle="tab" aria-controls="page" aria-expanded="true">Pages</a></li>
      <li role="presentation" class=""><a href="#type" role="tab" id="type-tab" data-toggle="tab" aria-controls="type" aria-expanded="false">Types</a></li>
      <li role="presentation" class=""><a href="#news" role="tab" id="news-tab" data-toggle="tab" aria-controls="news" aria-expanded="false">News</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade active in" id="user" aria-labelledby="user-tab">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Username</th>

                <th>Grade</th>
                <th>Domain</th>
              </tr>
            </thead>
            <tbody>
              {% for user in userlist %}
              <tr>
                <td>{{ user.uid }}</td>
                <td>{{ user.username }}</td>

                <td>{{ user.ugrade }}</td>
                <td>{{ user.udomain }}</td>
              </tr>
              {% end %}
            </tbody>
          </table>
        </div>      </div>
      <div role="tabpanel" class="tab-pane fade" id="article" aria-labelledby="article-tab">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Publish Time</th>
                <th>Change Time</th>
                <th>Editor</th>
              </tr>
            </thead>
            <tbody>
              {% for article in articlelist %}
              <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.pubtime }}</td>
                <td>{{ article.chgtime }}</td>
                <td>{{ article.user }}</td>
              </tr>
              {% end %}
            </tbody>
          </table>
        </div>      </div>
      <div role="tabpanel" class="tab-pane fade" id="page" aria-labelledby="page-tab">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Publish Time</th>
                <th>Change Time</th>
                <th>Option</th>
              </tr>
            </thead>
            <tbody>
              {% for page in pagelist %}
              <tr>
                <td>{{ page.pid }}</td>
                <td>{{ page.ptitle }}</td>
                <td>{{ page.ppubtime }}</td>
                <td>{{ page.pchgtime }}</td>
                <td><div><span><a href="/admin/editpage?pid={{ page.pid }}">Edit</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;<span><a href="/admin/delpage?pid={{ page.pid }}">Delete</a></span></div>
        </td>
              </tr>
              {% end %}
            </tbody>
          </table>
        </div>      </div>
      <div role="tabpanel" class="tab-pane fade" id="type" aria-labelledby="type-tab">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Option</th>
              </tr>
            </thead>
            <tbody>
              {% for type in typelist %}
              <tr>
                <td>{{ type.tid }}</td>
                <td>{{ type.typename }}</td>
                <td><div><span><a href="/admin?tid={{ type.tid }}">Edit</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;<span><a href="/admin/deltype?tid={{ type.tid }}">Delete</a></span></div></td>
              </tr>
              {% end %}
            </tbody>
          </table>
          <form class="form-inline" method="POST" action="/admin">
        <div class="form-group">
          <input type="hidden" name="tid" value="{{ typeobj.tid }}">
        <label class="sr-only" for="exampleInputEmail3">Add New Type</label>
        <input type="input" class="form-control" id="exampleInputEmail3" placeholder="Enter New Type" name="typename" value= {{ typeobj.typename }}>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        </form>
        </div>
        </div>
              <div role="tabpanel" class="tab-pane fade" id="news" aria-labelledby="news-tab">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Publish Time</th>
                <th>Change Time</th>
                <th>Option</th>
              </tr>
            </thead>
            <tbody>
              {% for news in newslist %}
              <tr>
                <td>{{ news.nid }}</td>
                <td>{{ news.ntitle }}</td>
                <td>{{ news.npubtime }}</td>
                <td>{{ news.nchgtime }}</td>
                <td><div><span><a href="/admin/editnews?nid={{ news.nid }}">Edit</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;<span><a href="/admin/delnews?nid={{ news.nid }}">Delete</a></span></div>
        </td>
              </tr>
              {% end %}
            </tbody>
          </table>
        </div>      </div>
      </div>
    </div>
{% end %}
