{% extends "home_listbase.html" %}
{% block active5 %}class="active"{% end %}
    {% block newslist %}

        
        <table class="table">
            <thead>
                <tr>
                    <th>新闻标题</th>
                    <th>创建时间</th>
                    <th>修改时间</th>
                </tr>
            </thead>
            <tbody>
                {% for news in list %}
                <tr>
                    <td><a href="/news/n/{{ news.nid }}">{{ news.ntitle }}</a></td>
                    <td>{{ news.npubtime }}</td>
                    <td>{{ news.nchgtime }}</td>
                </tr>
                {% end %}
            </tbody>
        </table>

        <div style="text-align:center;margin-top:80px;">
          <nav>
            <ul class="pagination">
              <li><a href="{{ handler.pagination.action }}{{ handler.pagination.pre }}">&laquo;</a></li>
              {% for page in handler.pagination.pages %}
              <li {% if handler.pagination.current == page %} class="active" {% end %}><a href="{{ handler.pagination.action }}{{ page }}">{{ page }}</a></li>
              {% end %}
              <li><a href="{{ handler.pagination.action }}{{ handler.pagination.next }}">&raquo;</a></li>
              </ul>
            </ul>
          </nav>
        </div>

    {% end %}
    <!-- /END THE FEATURETTES -->
