{% extends "home_base.html" %}
{% block carousel %}
<div class="container">
<div class="pageavatar">
  <div class="container">
  <img class="home-page-img featurette-image img-responsive img-circle" src="{{ user.uavatar }}" alt="Generic placeholder image" style="margin:0 auto;border:4px solid white;">
  <h2 style="color:white;">{{ user.username }}</h2>
  <h4 style="color:white;">{{ user.ucollege }}</h4>
  {% if handler.signeduser == user.username %}
  <a href="/members/m/{{ user.uid }}/write"><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;&nbsp;Add article</button></a>&nbsp;&nbsp;<a href="/members/m/{{ user.uid }}/profile"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;&nbsp;Edit profile</button></a>
  {% end %}
</div>
</div>
</div>
<img src="/static/images/page-background.jpg" style="position:relative;">

{% end %}
{% block maincontent %}
<div class="row featurette" style="margin-top:20px;">
  <div class="col-md-3">
    <div class="memberfeed">
    <h3>BIO</h3>
    <p>{{ user.ubio }}</p>
  </div>
  </div>
  <div class="col-md-9">
{% block subcontent %}
{% end %}

  </div>

</div>


{% end %}
