{% extends "home_page.html" %}
{% block subcontent %}
  <div class="row">
    <div class="col-lg-12">
      <h2>Your Profile</h2>
      <form role="form" action="/members/m/{{ id }}/profile" method="POST"  enctype="multipart/form-data">
        <div class="form-group">
          <label for="exampleInputName">Your name</label>
          <input type="input" class="form-control" id="exampleInputName" placeholder= {{ current_user }} name="username" disabled>
        </div>
        <div class="form-group">
          <label for="exampleInputCollege">Your College</label>
          <input type="input" class="form-control" id="exampleInputCollege" placeholder="College" name="ucollege" value="{{ user.ucollege }}">
        </div>
        <div class="form-group">
          <label for="exampleInputGrade">Your Grade</label>
          <select name="ugrade" id="exampleInputGrade" class="form-control" >
            {% for item in handler.mytypedict %}
            <option value="{{ item }}" {% if item == user.ugrade %} selected {% end %}>{{ handler.mytypedict[item] }}</option>
            {% end %}
          </select>
        </div>
        <div class="form-group">
          <label for="exampleInputmajorin">Major in</label>
          <textarea class="form-control" rows="3"  placeholder="Your domain" name="udomain">{{ user.udomain }}</textarea>
        </div>
        <div class="form-group">
          <label for="exampleInputbio">BIO</label>
          <textarea class="form-control" rows="3"  placeholder="Your bio" name="ubio">{{ user.ubio }}</textarea>
        </div>

        <div class="form-group">
          <label for="exampleInputFile">Your Avatar</label>
          <input type="file" name="file" id="exampleInputFile">
          <p class="help-block">Example block-level help text here.</p>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div><!-- /.row -->
{% end %}
