{% extends "home_base.html" %}
{% block carousel %}
<div class="container">
<div class="pageavatar">
  <div class="container">
  <img class="home-page-img featurette-image img-responsive img-circle" src="{{ user.uavatar }}" alt="Generic placeholder image" style="margin:0 auto;border:4px solid white;">
  <h2 style="color:white;">{{ user.username }}</h2>
  <h4 style="color:white;">{{ user.ucollege }}</h4>
</div>
</div>
</div>
<img src="/static/images/page-background.jpg" style="position:relative;">

{% end %}
{% block maincontent %}
<div class="row featurette" style="margin-top:20px;">
  <div class="col-md-3">
    <div class="memberfeed">
    <h2 class="featurette-heading-fixed">BIO</h2>
    <p>{{ user.ubio }}</p>
  </div>
  </div>
  <div class="col-md-9">
    {% if handler.signeduser == user.username %}
    <div class="memberfeed">
    <a href="/members/m/{{ user.uid }}/write"><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;&nbsp;Add article</button></a>&nbsp;&nbsp;<a href="/members/m/{{ user.uid }}/profile"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;&nbsp;Edit profile</button></a>
  </div>
    {% end %}
    {% for article in user.article %}
    <div class="memberfeed">
    <h2 class="featurette-heading-fixed"><a href="#">{{ article.atitle}}</a></h2>
    <div>
      <h5><span class="text-muted list-margin-fixed">Type:{{ article.atype.typename }}</span><span class="pull-right list-margin-fixed text-muted">create time:{{ article.apubtime }}</span><span class="pull-right list-margin-fixed text-muted"> change time:{{ article.achgtime }}</span></h5>
    </div>
    <p class="lead">{{ article.acontent[:300] }}<a href="#">Show all...</a></p>
  </div>
    {% end %}

  </div>

</div>


{% end %}
