{% extends "home_page.html" %}
{% block subcontent %}
{% for article in articlelist %}
<div class="memberfeed">
<div class="blog-post">
<h2 class="blog-post-title"><a href="/articles/a/{{ article.id }}">{{ article.title }}</a></h2>
Type:<a href="{{ article.typelink }}">{{ article.type }}</a>
<p class="blog-post-meta">Create time:{{ article.pubtime }}&nbsp;&nbsp;&nbsp;&nbsp;Change time:{{ article.chgtime }}</p>
<P> {{ article.subcontent }}<a href="/articles/a/{{ article.id }}">Show all...</a></p>
</div><!-- /.blog-post -->
</div>
{% end %}
{% end %}
