{% extends "home_base.html" %}
{% block active1 %}class="active"{% end %}
{% block carousel %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    {% for inform in informlist %}
    <div class="item {% if inform == informlist[2] %}active{% end %}">
      <img src="{{ inform.ipic }}" alt="slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>{{ inform.ititle }}</h1>
          <p>{{ inform.iabstract }}</p>
          <p><a class="btn btn-lg btn-primary" href="{{ inform.iurl }}" role="button">{{ inform.ibtnview }}</a></p>
        </div>
      </div>
    </div>
    {% end %}
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="index-news-background">
  <div class="container">
    <div class="row" style="margin-top:30px;">
    <div class="col-md-6">
      <table class="table table-hover">
        <div style="margin-bottom:3px;">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> News
            <span style="float:right;"><a href="/news" style="color:grey;">more..</a></span>
          </div>
            <tbody>
              {% for news in newslist %}
              <tr>
                <th><a href="/news/n/{{ news.nid }}">{{ news.ntitle }}</a></th>
                <td>{{ news.nchgtime }}</td>
              </tr>
              {% end %}
            </tbody>
          </table>
    </div>
    <div class="col-md-6">
      <iframe src="https://player.vimeo.com/video/133444711?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    </div>
  </div>
</div>
{% end %}
{% block sample %}
<div class="row">
  <div class="col-lg-4">
    <img class="img-circle" src="../static/images/opendata.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
    <h2>Open Science</h2>
    <p>{{ pagelist[0].pcontent[0:200] }}</p>
    <p><a class="btn btn-default" href="/projects/p/{{ pagelist[0].pid }}" role="button">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" src="../static/images/gamification.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
    <h2>Human-Engagement</h2>
    <p>{{ pagelist[1].pcontent[0:200] }}</p>
    <p><a class="btn btn-default" href="/projects/p/{{ pagelist[1].pid }}" role="button">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" src="../static/images/webdesign.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
    <h2>Web Design</h2>
    <p>{{ pagelist[2].pcontent[0:200] }}
    <p><a class="btn btn-default" href="/projects/p/{{ pagelist[2].pid }}" role="button">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
{% end %}
